.button {
  width: 180px;
  height: 58px;
  background-color: #0266c1;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;

  &:focus,
  &:hover {
    border: 1px solid #1c3374;
    color: #1c3374;
    background-color: #ffffff;
  }

  &:active {
    background-color: #1c3374;
    color: #ffffff;
  }
}
