.button {
  width: 62%;
  height: 52px;
  background-color: #0266c1;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  user-select: none;
  display: block;
  text-align: center;
  padding-top: 16px;

  &:focus,
  &:hover {
    border: 1px solid #1c3374;
    color: #1c3374;
    background-color: #ffffff;
    outline: 0;
  }

  &:active {
    background-color: #1c3374;
    color: #ffffff;
  }
}

@media (min-width: $tablet) {
  .button {
    width: 205px;
    height: 57px;
  }
}

@media (min-width: $desktop) {
  .button {
    width: 220px;
    height: 58px;
  }
}
