.contacts {
  position: relative;
  padding-bottom: 26px;
  padding-top: 63px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(45, 56, 63, 0.1);
    bottom: 0;
  }
}

.contacts__wrapper {
  h2 {
    font-size: 22px;
    font-weight: 800;
    line-height: 22px;
    margin: 0;
    margin-bottom: 12px;

    &::after {
      content: "";
      position: absolute;
      background: url("../img/contacts-mobile.png") no-repeat;
      left: 0;
      width: 140px;
      height: 26px;
    }
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-bottom: 31px;
  }
}

.contacts__info-column {
  &:last-child dl {
    margin-bottom: 26px;
  }
}

.contacts__info {
  dl {
    position: relative;
    margin: 0;
    margin-bottom: 37px;
    margin-left: 32px;
  }

  dt {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    margin: 0;
    margin-bottom: 8px;
  }

  dd {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin: 0;
  }

  .contacts__address {
    width: 178px;
    line-height: 20px;
  }
}

.contacts__icon {
  position: absolute;
  left: -30px;
}

.contacts__map {
  iframe {
    width: 100%;
    border: none;
    height: 320px;
  }
}


@media (min-width: $tablet) {
  .contacts {
    padding-bottom: 64px;
  }

  .contacts__wrapper {
    h2 {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 20px;
      margin-top: 20px;

      &::after {
        background: url("../img/contacts-tablet.png") no-repeat;
        width: 215px;
        height: 40px;
        left: 45px;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 36px;
      width: 483px;
    }
  }

  .contacts__info {
    display: flex;
    justify-content: space-between;

    dl {
      position: relative;
      margin: 0;
      margin-bottom: 30px;
      margin-left: 32px;
    }

    dt {
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      margin-bottom: 6px;
    }

    .contacts__info-column:nth-child(3) {
      margin-right: 5px;
    }
  }

  .contacts__info-column {
    &:last-child dl {
      margin-bottom: 45px;
    }
  }

  .contacts__icon {
    left: -33px;
  }

  .contacts__map {
    iframe {
      height: 340px;
    }
  }
}

@media (min-width: $desktop) {
  .contacts {
    padding-bottom: 104px;
  }

  .contacts__wrapper {
    position: relative;
    max-width: 1680px;

    h2 {
      font-size: 35px;
      line-height: 35px;
      margin-bottom: 26px;
      margin-top: 15px;

      &::after {
        background: url("../img/contacts-desktop.png") no-repeat;
        width: 296px;
        height: 55px;
        left: 120px;
      }
    }

    p {
      width: 380px;
      margin-bottom: 50px;
    }
  }

  .contacts__info {
    flex-direction: column;

    dl {
      margin-bottom: 27px;
      margin-left: 57px;
    }

    dt {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 8px;
    }
  }

  .contacts__phone {
    font-size: 16px;
    line-height: 24px;
  }

  .contacts__mail {
    font-size: 16px;
    line-height: 24px;
  }

  dl {
    .contacts__address {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .contacts__icon {
    left: -55px;
    top: 13px;
  }

  .contacts__map {
    position: absolute;
    bottom: -8px;
    right: 121px;

    iframe {
      height: 324px;
      width: 585px;
    }
  }

  .contacts__info-column {
    &:last-child {
      dl {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1440px) {
  .contacts__wrapper {
    p {
      width: 483px;
    }
  }

  .contacts__wrapper {

    p {
      margin-bottom: 41px;
    }
  }
}
