.feedback {
  padding-bottom: 63px;
  padding-top: 30px;
  padding-left: 16px;
}

.feedback__wrapper {
  position: relative;

  h2 {
    position: relative;
    font-size: 22px;
    line-height: 22px;
    font-weight: 800;
    color: #2d383f;
    margin: 0;
    margin-bottom: 33px;

    &::after {
      content: "";
      position: absolute;
      background: url("/img/feedback-mobile.png") no-repeat;
      left: 0;
      top: 0;
      width: 144px;
      height: 26px;
    }
  }
}

.feedback__item {
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);

  h4 {
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    margin: 0;
  }

  b {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
    margin: 0;
  }
}

.feedback__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 19px 0 0 0;
}

.feedback__text-last {
  margin: 0;
  margin-top: 9px;
  margin-bottom: 16px;
}

.feedback-next {
  position: absolute;
  top: -10px;
  right: 15px;
  z-index: 2;
  width: 37px;
  height: 35px;
  background-color: #0266c1;
  cursor: pointer;

  svg {
    fill: #ffffff;
  }

  &:hover,
  &:focus {
    background-color: #ffffff;
    border: 1px solid #1c3374;
    outline: none;

    svg {
      fill: #1c3374;
    }
  }

  &:active {
    background-color: #1c3374;

    svg {
      fill: #ffffff;
    }
  }
}

.feedback-back {
  position: absolute;
  top: -10px;
  right: 57px;
  z-index: 2;
  width: 37px;
  height: 35px;
  background-color: #0266c1;
  cursor: pointer;

  svg {
    fill: #ffffff;
  }

  &:hover,
  &:focus {
    background-color: #ffffff;
    border: 1px solid #1c3374;
    outline: none;

    svg {
      fill: #1c3374;
    }
  }

  &:active {
    background-color: #1c3374;

    svg {
      fill: #ffffff;
    }
  }
}

.feedback__button-icon {
  display: block;
  margin: auto;
  margin-top: 12px;
}

@media (min-width: $tablet) {
  .feedback {
    padding-left: 45px;
    padding-top: 60px;
    padding-bottom: 86px;
  }

  .feedback__wrapper {
    h2 {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 30px;

      &::after {
        background: url("../img/feedback-tablet.png") no-repeat;
        left: 0;
        top: -6px;
        width: 175px;
        height: 40px;
      }
    }
  }

  .feedback__item {
    display: flex;
    min-width: 560px;

    h4 {
      line-height: 14px;
      margin-left: 30px;
    }

    b {
      margin-left: 30px;
    }
  }

  .feedback-back {
    right: 87px;
  }

  .feedback-next {
    right: 45px;
  }

  .feedback-back,
  .feedback-next {
    top: -15px;
  }

  .feedback__photo {
    margin: 0;
    width: 186px;
    height: 237px;
    object-fit: cover;
  }

  .feedback__text {
    width: 294px;
    margin: 0 0 15px 30px;
  }

  .feedback__text-last {
    margin-top: -6px;
    margin-bottom: 27px;
  }
}

@media (min-width: $desktop) {
  .feedback {
    padding-left: 120px;
    padding-bottom: 124px;
  }

  .feedback__wrapper {
    h2 {
      font-size: 35px;
      line-height: 35px;
      margin-bottom: 31px;

      &::after {
        background: url("../img/feedback-desktop.png") no-repeat;
        left: 0;
        top: -9px;
        width: 241px;
        height: 55px;
      }
    }
  }

  .feedback__item {
    min-width: 790px;
    padding-top: 17px;
    padding-bottom: 17px;
    max-width: 790px;

    h4 {
      font-size: 13px;
      line-height: 13px;
      margin-left: 30px;
    }

    b {
      margin-left: 30px;
    }
  }

  .feedback__block-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .feedback__text-header {
    margin-bottom: 12px;
  }

  .feedback__photo {
    margin: 0;
    width: 258px;
    height: 253px;
    object-fit: cover;
  }

  .feedback__text {
    width: 442px;
    font-size: 14px;
    line-height: 22px;
    margin: 15px 0 0 30px;
  }

  .feedback-back {
    right: 162px;
    top: -12px;
  }

  .feedback-next {
    right: 120px;
    top: -12px;
  }

  .feedback__text-last {
    margin-top: 8px;
    margin-bottom: 25px;
  }
}
