.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  padding-bottom: 20px;
}

.footer__box {
  display: flex;
  flex-direction: column;
}

.footer__phone {
  display: none;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 92px;
  margin-bottom: 15px;
}

.footer__item {
  margin-bottom: 5px;
}

.footer__item-link {
  font-size: 14px;
  font-weight: 400;
  padding: 4px;

  &:hover {
    box-shadow: inset 0 -1px 0 0 #2d383f;
  }

  &:active {
  box-shadow: #2d383f 0px 0px 0px 1px inset;
  }
}

.footer__box-social {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.footer__networks {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 7px;
}

.footer__privacy {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
}

.footer__logo {
  margin-bottom: 10px;
  padding: 4px;
  width: max-content;

  img {
    width: 112px;
    height: 34px;
  }
}

.footer__network-item {
  margin-right: 15px;
}

.footer__icon {
  --color-1: #ffffff;
  --color-2: #2d383f83;
  --color-3: #2d383f;

  &:hover,
  :focus {
    --color-2: #2d383f;
  }

  &:active{
    --color-1: #0266c1;
    --color-2: #ffffff;
    --color-3: #ffffff;
  }
}

@media (min-width: $tablet) {
  .footer__wrapper {
    padding-top: 38px;
  }

  .footer__box {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__list {
    flex-direction: row;
    height: 100%;
    margin-top: 6px;
  }

  .footer__logo {
    margin-bottom: 35px;
    padding-top: 5px;
    img {
      width: 118px;
      height: 34px;
    }
  }
  .footer__item {
    margin-bottom: 0;
    margin-right: 13px;

    &:last-child {
      margin-right: 0;
    }
  }

  .footer__box-social {
    justify-content: center;
  }

  .footer__networks {
    justify-content: center;
    margin-bottom: 0;
    margin-left: 8px;
  }

  .footer__privacy {
    text-align: center;
    margin-top: 10px;
    line-height: 12px;
  }
}

@media (min-width: $desktop) {
  .footer__phone {
    display: block;
    font-size: 18px;
    font-weight: 600;

    &:hover,
    :focus {
      color: #1c3374;
    }

    &:active {
     color: #0266c1;
    }

    padding: 4px;
    width: max-content;
    height: max-content;
  }

  .footer__item {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }

  .footer__item-link {
    font-size: 16px;
  }

  .footer__logo {
    img {
      width: 205px;
      height: 60px;
    }
  }

}
