.header__wrapper {
  display: flex;
  position: relative;
  min-height: 100px;
}

.header__logo {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 3;

  img {
    width: 112px;
    height: 34px;
  }

  &:focus {
    outline: none;
  }
}

.header__phone-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  right: 15px;
  top: 57px;
  height: max-content;
}

.header__phone {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  z-index: 3;

  &:hover {
    color: #1c3374;
  }

  &:focus {
    color: #1c3374;
    outline: none;
  }

  &:active {
    color: #0266c1;
  }
}

.header__burger-close {
  display: block;
  position: absolute;
  top: 19px;
  width: 26px;
  height: 18.91px;
  background: url("../img/burger.png") no-repeat;
}

.header__burger-open {
  position: absolute;
  z-index: 3;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: url("../img/burger-close.png") no-repeat;
}

.header__list {
  display: none;
  position: absolute;
  flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 2;
  list-style: none;
  font-weight: 700;
  font-family: 14px;
  letter-spacing: 0.04rem;
  padding-top: 99px;
  margin-left: -15px;
  background-color: #ffffff;
  width: 100%;
}

.header__item {
  margin-bottom: 13px;
  text-transform: uppercase;
  height: max-content;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;

  &:last-child {
    margin-bottom: 47px;
  }

  a {
    padding: 4px;
    padding-right: 8px;
    padding-left: 15px;

    &:hover {
      box-shadow: inset 0 -1px 0 0 #ffffff;
    }

    &:focus {
      box-shadow: #ffffff 0 0 0 1px inset;
      outline: 0;
    }

    &:active {
      box-shadow: #ffffff 0 0 0 1px inset;
    }
  }

}

.header__box {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}


@media (min-width: $tablet) {
  .header__burger {
    position: static;
    margin-top: 42px;
    z-index: 3;
  }

  .header__box {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .header__logo {
    margin-top: 29px;
    margin-left: 100px;
    position: static;
    margin-right: 267px;

    img {
      width: 144px;
      height: 44px;
    }
  }

  .header__list {
    position: absolute;
    margin-left: -45px;
    margin-top: 18px;
    height: max-content;

    .header__item:last-child {
      padding-bottom: 65px;
    }
  }

  .header__item {
    padding-left: 45px;
    margin-bottom: 10px;
  }

  .header__phone-box {
    margin-top: 12px;
    position: absolute;
    top: 35px;
    right: 45px;
  }

  .header__phone {
    font-size: 16px;
  }
}

@media (min-width: $desktop) {
  .header__box {
    max-width: 1440px;
  }

  .header__burger-close {
    display: none;
  }

  .header__list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin-top: 62px;
    margin-left: 0;
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0);
    width: auto;
    max-width: 650px;
    margin-right: 280px;
  }

  .header__list .header__item:last-child {
    padding-bottom: 0;
}

  .header__item {
    margin-top: 2px;
    padding-left: 0;
    margin-right: 19px;
    text-transform: none;
    font-weight: 400;

    &:last-child {
      margin-right: 0;
      margin-bottom: 14px;
    }

    a {
      padding-left: 8px;
    }
  }

  .header__item-link {
    color: #ffffff;
  }

  .header__logo {
    margin-left: 0;
    margin-top: 39px;
    margin-right: 80px;

    img {
      width: 205px;
      height: 62px;
    }
  }

  .header__phone {
    font-size: 18px;
    width: max-content;
  }

  .header__phone-box {
    margin-top: 31px;
    right: 120px;
  }
}

