.hero {
  position: relative;
  padding-bottom: 65px;
}

.hero__swiper {
  width: 100%;
}

.hero__background {
  position: absolute;
  bottom: 68px;
  height: 568px;
  width: 100%;
  background-color: #6fabd1;
  background-image: url("../img/background-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.hero__background1 {
  position: absolute;
  bottom: 68px;
  height: 568px;
  width: 100%;
  background-color: #6fabd1;
  background-image: url("../img/background-header1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.hero__background2 {
  position: absolute;
  bottom: 88px;
  height: 568px;
  width: 100%;
  background-color: #6fabd1;
  background-image: url("../img/background-header2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.hero__overlay-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

.hero__header {
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 13px;
  max-width: 670px;
  padding-top: 40px;
  text-align: center;
}

.hero__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 466px;
  text-align: center;
}

.hero__info {
  display: none;
}

.hero__media {
  display: none;
}

.hero__pagination {
  position: absolute;
  margin-top: 124px;
  top: 360px;
}

@media (min-width: $tablet) {
  .hero {
    padding-bottom: 0;
  }

  .hero__background {
    bottom: 66px;
    background-color: #6fabd1;
    background-image: url("../img/background-header-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1024px;
  }

  .hero__background1 {
    bottom: 66px;
    background-color: #6fabd1;
    background-image: url("../img/background-header-tablet1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1024px;
  }

  .hero__background2 {
    bottom: -240px;
    background-color: #6fabd1;
    background-image: url("../img/background-header-tablet2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1024px;
  }

  .hero__header {
    font-size: 56px;
    line-height: 56px;
    margin-top: 5px;
    padding-top: 70px;
    text-align: center;
  }

  .hero__text {
    font-size: 17px;
    margin-bottom: 28px;
    line-height: 24px;
    text-align: center;
  }

  .hero__button {
    margin-bottom: 50px;
  }

  .hero__video-player {
    display: none;

    iframe {
      border: 0;
      width: 422px;
      height: 300px;
    }
  }

  .hero__video-cover {
    position: relative;

    img {
      margin: 0 auto;
    }
  }

  .hero__media {
    display: block;
    position: relative;
    margin-bottom: 218px;
    z-index: 2;

    .hero__media-photo {
      margin: 0 auto;
    }
  }

  .hero__media-picture {
    margin-top: -17px;
    padding-bottom: 17px;
  }

  .hero__media-music {
    width: 340px;
    height: 220px;
    margin: 0 auto;
    margin-top: 17px;
  }

  .hero__video-button {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%);
    width: 56px;
    height: 56px;
    border: 0;
    background: url("../img/button-video.png") no-repeat;
    z-index: 2;
    cursor: pointer;

    &:hover {
      background: url("../img/button-video-hover.png") no-repeat;
    }

    &:focus {
      background: url("../img/button-video-hover.png") no-repeat;
      outline: none;
    }
  }

  .hero__pagination {
    top: 760px;
  }
}

@media (min-width: $desktop) {
  .hero {
    padding-bottom: 92px;
  }

  .hero__background {
    bottom: 74px;
    text-align: left;
    min-height: 800px;
    background-color: #6fabd1;
    background-image: url("../img/background-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
  }

  .hero__background1 {
    bottom: 74px;
    text-align: left;
    min-height: 800px;
    background-color: #6fabd1;
    background-image: url("../img/background-header1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
  }

  .hero__background2 {
    bottom: 74px;
    text-align: left;
    min-height: 800px;
    background-image: url("../img/background-header2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
  }

  .hero__header {
    position: inherit;
    z-index: 3;
    font-size: 77px;
    line-height: 77px;
    max-width: 944px;
    margin: 0;
    margin-bottom: 24px;
    margin-top: 0;
    padding-top: 81px;
    text-align: left;
  }

  .hero__text {
    line-height: 24px;
    margin: 0;
    margin-bottom: 35px;
    text-align: left;
  }

  .hero__item {
    position: relative;
    max-width: 1440px;
    width: 100%;
  }

  .hero__media {
    position: absolute;
    width: 482px;
    height: 317px;
    top: 192px;
    right: 120px;
  }

  .hero__media-picture {
    top: 120px;
  }

  .hero__media-music {
    width: 340px;
    height: 220px;
  }

  .hero__video-player {
    iframe {
      width: 482px;
      height: 317px;
    }
  }

  .hero__pagination {
    top: 550px;
  }

  .hero__info {
    display: flex;
    padding-bottom: 61px;
    margin-left: 1px;

    p {
      margin: 0;
      margin-top: 100px;
      width: max-content;
      padding: 10px 18px;
      color: #ffffff;
      border: 1px solid #ffffff;
      margin-right: 10px;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .hero__icon {
    margin-right: 8.5px;
  }
}
