.hero .swiper {
  width: 100%;
  height: 430px;
}

.hero .swiper-wrapper {
  display: flex;
}

.hero .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.swiper-pagination-bullet {
  border: 1px solid #ffffff;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.tours .swiper-wrapper {
  overflow: hidden;
}

@media (min-width: $tablet) {
  .hero .swiper {
    height: 100%;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 11px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}

@media (min-width: $desktop) {
  .hero .swiper-slide {
    justify-content: left;
    text-align: left;
  }

  .hero .swiper {
    height: 100%;
  }

  .hero .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 422px;
    top: 376px;
  }
}

@media (min-width: 1440px) {
  .hero .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 572px;
    top: 376px;
  }
}
